<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.antoin.homepage1" >


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BestLocationNow"
            android:label="@string/title_activity_best_location_now" >
        </activity>
        <activity
            android:name=".PlanAhead"
            android:label="@string/title_activity_plan_ahead" >
        </activity>
        <activity
            android:name=".News"
            android:label="@string/title_activity_news" >
        </activity>
        <activity
            android:name=".Images"
            android:label="@string/title_activity_images" >
        </activity>
        <activity
            android:name=".RecentActivity"
            android:label="@string/title_activity_recent" >
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>
